/* Estilo para los campos de texto */
.form-control-custom {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .form-control-custom:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilo del contenedor para el dropdown */
  .dropdown-container {
    position: relative;
  }
  
  /* Estilo para el icono del dropdown */
  .dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #007bff;
    pointer-events: none;
  }
  
  /* Estilo adicional para el dropdown */
  .custom-dropdown {
    padding-right: 30px; /* Espacio para el icono */
  }

  /* Estilos para el botón + */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px; /* Redondeo menos pronunciado */
  font-size: 20px;
  transition: background-color 0.3s ease; /* Transición suave para hover */
}

button:hover {
  background-color: #0056b3; /* Cambiar color al hacer hover */
}

/* Estilos para la tabla */
.table th, .table td {
  text-align: center;
  padding: 12px;
}

.modal-header .btn-close {
  filter: invert(1); /* invierte el color (blanco sobre fondo verde) */
  opacity: 1;
}